.Subtitle_2 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: hsl(0deg 0% 100% / 1);
}

@media only screen and (min-width: 920px) {
  :global(.subtitle-bar-2) .Subtitle_2 {
    font-size: 36px;
    line-height: 49px;
  }
}
