.YouTube_Track {
  padding: 7px;
}

.YouTube_Track iframe {
  border-radius: 12px;
}

:global(.track-list) .YouTube_Track {
  padding: 11px 44px;
}

@media only screen and (min-width: 640px) {
  :global(.track-list) .YouTube_Track {
    padding: 11px 34px;
  }
}
