.Album_Tile {
  margin: auto;
  max-width: 665px;
  position: relative;
  width: 100%;
}

.Album_Tile a {
  text-decoration: none;
}

:global(.album-banner) .Album_Tile {
  background-color: hsl(0deg 0% 26% / 0.4);
  padding: 0 15px;
}
