.Menu_Bar {
  height: 34px;
  display: flex;
  justify-content: center;
}

.Menu_Bar img {
  margin: auto;
}

:global(.header) .Menu_Bar {
  background-color: hsl(0deg 0% 100% / 1);
  z-index: 2;
  position: relative;
}

@media only screen and (min-width: 640px) {
  .Menu_Bar {
    display: none;
  }
}
