.Photo_Slides {
  width: 100%;
  height: 100%;
  max-height: 550px;
}

.Photo_Slides :global(.swiper) {
  width: 100%;
  height: 100%;
  max-height: 550px;
}

.Photo_Slides :global(.swiper-slide) {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.Photo_Slides :global(.swiper-slide img) {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
