.Photo_Slides {
  width: 100%;
  height: var(--photo-slides-height, 100%);
  max-height: var(--photo-slides-height, 100%);
  min-height: 200px;
}

.Photo_Slides :global(.swiper),
.Photo_Slides :global(.swiper-wrapper) {
  width: 100%;
  height: 100%;
}

.Photo_Slides :global(.swiper-slide) {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  height: 100%;
}

.SlideImage {
  position: relative;
  width: 100%;
  height: 100%;
}

.Photo_Slides :global(.swiper-slide img) {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.SingleSlide {
  width: 100%;
  height: 100%;
  position: relative;
}

.SingleSlide :global(img),
.SlideImage :global(img) {
  object-fit: cover;
}

@media (max-width: 640px) {
  .Photo_Slides {
    height: var(--photo-slides-height-mobile, var(--photo-slides-height, 100%));
    max-height: var(--photo-slides-height-mobile, var(--photo-slides-height, 100%));
    min-height: 200px;
  }
}
