.Track_List {
  max-width: 960px;
  margin: 0 auto 44px;
}

.Track_List > * {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
}

.Description {
  max-width: 1126px;
  margin: 32px auto 0;
  padding: 0 24px;
}

.Description p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  text-align: justify;
  letter-spacing: 0.1em;
  text-indent: 10px;
  color: hsl(0deg 0% 0% / 1);
  margin: 0;
  margin-bottom: 24px;
}

@media only screen and (min-width: 640px) {
  .Track_List {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 80px;
  }

  .Description {
    margin-top: 48px;
    padding: 0 30px;
  }

  .Description p {
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 920px) {
  .\33 _Columns {
    max-width: 1440px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
