.Head_Title .Title_1 {
  margin-top: 0;
  margin-bottom: 10px;
}

.Head_Title .Header_Line {
  margin-bottom: 13px;
  width: 243px;
}

.Head_Title .Subtitle_1 {
  margin-bottom: 0;
}

.Head_Title a {
  text-decoration: none;
}