.Menu_Link {
  margin: 0;
  list-style-type: none;
}

.Menu_Link a {
  text-decoration: none;
  font-family: Julius Sans One, sans-serif;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.2em;
  color: hsl(0deg 0% 0% / 1);
  display: block;
  padding: 11px 16px;
}
